


.top_container {
    position: relative;
    text-align: center;
    color: white;
    background-color: #F0F8FF;
    width: 100%;
    height: 100%;
    display: flex;
}

.top_first{
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-left: 3%;
    margin-bottom: 10%;
    color: #0C2045;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 1200px;
    
}

#sub_top_first {
    font-family: 'Dancing Script', cursive;
    position: relative;
    top: -40px;
}

.top_second {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 75px;
    left: 700px;
    
}

.payment_container {
    border-radius: 3px;
   border: none;
    color: white;
    /* padding: 16px 50px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: blue;  
    border-radius: 4px;
    background-image: linear-gradient(179deg,#236EE1 0,#465AF0 100%);
    position: absolute;
    height: 70px;
    width: 300px;
    top: 550px;
    left: 50px;
}

.payment_button {
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: blue;  
    border-radius: 4px;
    background-image: linear-gradient(179deg,#236EE1 0,#465AF0 100%);
}

.payment_button:hover {
    background-image: linear-gradient(179deg, blue 0,#465AF0 100%);
    color: white;
}

.glow {
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    text-align: left;
    position: relative;
    top: -50px;
  }
  

.quote_container {
    position: relative;
    bottom: 400px;
    left: -200px;
    right: 400px;
    color: white;
    font-family: 'Lumanosimo', cursive;
    font-size: 50px;
    font-weight: 600px;
}

.company_name_container {
    color: #fc2c03;
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
}

.company_name {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 80px;
}

.logo {
    position: absolute;
    scale: 30%;
    top: 630px;
    left: 150px;
}


.aim_container {
    display: flex;
    background-color: #236EE1;
    height: 600px;
    size: 60%;
    
}

.aim_title{
    color: white;
    font-weight: 400px;
    margin-left: 400px;
    padding-top: 70px;
}

.aim_picture_background {
    position: absolute;
    left: 148px;
    top: 1000px;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 50px;
    border: solid;
    border-color: #236EE1;
}
.vision_statement {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200px;
    /* margin-left: 50px;
    margin-top: 40px; */
    /* animation: mymove_1 5s infinite; */
}

.box_1 {
    position: relative;
    margin-left: -100px;
    scale: 40%;
    top: -100px;
}

.box_2 {
    scale: 40%;
    position: relative;
    left: -150px;

}
.aim_words_background {
    position: absolute;
    left: 650px;
    top: 1000px;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 50px;
    border: solid;
    border-color: #236EE1;
}


.aim {
    color:black ;
    /* font-family: 'Lumanosimo', cursive; */
    padding-right: 100px;
    padding-left: 20px;
    display: table;
    top: -90px;

    position: relative;
    /* animation: mymove 5s infinite; */
}


#aim_animation {
    animation-timing-function: linear;
}

@keyframes mymove {
    from {left: 50px;}
    to {left: 0px;}
}

@keyframes mymove_1 {
    from {top: 300px;}
    to {bottom: 0px;}
}

@keyframes mymove_2 {
    from {left: -6900px;}
    to {left: 0px;}
}


@keyframes mymove_3 {
    from {left: 900px;}
    to {left: -100px;}
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
    margin-bottom: 20px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.whatsapp {
    position: absolute;
    scale: 4%;
    top: -467px;
    left: -290px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.whatsapp:hover {
    background-image: linear-gradient(179deg, b#465AF0 0,#465AF0 100%);
    color: white;
    scale: 5%;
}

.contact {
    position: relative;
    left: -50px;
    top: 10px;
}

.email {
    position: absolute;
    scale: 13%;
    top: -220px;
    left: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.email:hover {
    background-image: linear-gradient(179deg, white 0,white-space 100%);
    color: white;
    scale: 17%;
}

.partners_container {
    background-color: white;
    position: relative;
    top: 120px;

}

.partners_container_animation {
    background-color: white;
    position: relative;
    top: 120px;
    animation: mymove_3 60s infinite;
    
}

#partner_heading {
    position: relative;
    color: white;
    text-align: center;
    scale: 50%;
    top: -100px;
    left: 250px;
}

.flex_partners_container {
    position: relative;
    display: flex;
    padding-left: 10px;
    top: -150px;
}

.partner_image1 {
    width: 15%;
    height: 15%;
    margin: 40px;
}

.partner_image2 {
    width: 9%;
    height: 9%;
    margin: 40px;
}

.partner_image3 {
    width: 9%;
    height: 9%;
    margin: 40px;
}

.partner_image4 {
    width: 9%;
    height: 9%;
    margin: 40px;
}

.partner_image5 {
    width: 20%;
    height: 20%;
    margin: 40px;
}


.outreach_container {
    position: relative;
    height: 900px;
    width: 100%;
}

.outreach_title {
    position: relative;
    top: 250px;
    left: 200px;
    font-family: 'Satisfy', cursive;
    font-size: 70px;
    font-weight: lighter;
    color: #fc2c03;
}


.outreach_button {
    position: absolute;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: red;  
    border-radius: 8px;
    background-image: linear-gradient(179deg,#dc4545 0,#b83333 100%);
    scale: 70%;
    top: 380px;
    left: 10px;
}

.outreach_button:hover {
    background-image: linear-gradient(179deg, red 0, #b83333  100%);
    color: white;
}

.button2 {
    position: relative;
    top: -10px;
    left: -30px;

}



.button3 {
    position: relative;
    top: -10px;
    left: -30px;

}



.button4 {
    position: relative;
    top: -10px;
    left: -30px;

}
.outreach_animation {
    position: relative;
    top: 250px;
    animation: mymove_2 90s infinite;

}

.footer {
    position: relative;
    background-color: black;
    width: 100%;
    height: 10px;
}

.footer_project {
    position: relative;
    background-color: black;
    width: 100%;
    height: 10px;
    top: 100px;
}

.copyright {
    position: relative;
    font-size: 53px;
    left: 200px;
    top: -40px;
}

.event_container {
    display: flex;
    height: 550px;
    width: 100%;
    top: 50px;
    background-color: #F4F4F4;

}

.event_container_index {
    position: relative;
    display: flex;
    height: 500px;
    width: 100%;
}

.event {
    height: 450px;
    width: 380px;
   position: relative;
   border-radius: 20px;
   margin-left: 40px;
   margin-top: 80px;

}

.content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */



}

.event_picture {
    position: relative;
    scale: 38% 65%;
    left: -311px;
    top: -170px;
}


.button5 {
    position: relative;
    top: -10px;
    left: 0px;
}



.picture2 {
    position: relative;
    scale: 52.5% 51%;
    left: -170px;
    top: -275px;
}


.picture3 {
    position: relative;
    scale: 36.5% 64%;
    top: -190px;
    left: -330px;
}

.picture4 {
    position: relative;
    scale: 8.2% 16%;
    left: -2115px;
    top: -1055px;
}

.picture5 {
    scale: 35% 39%;
    top: -300px;
    left: -350px;
}

.picture8 {
    scale: 35.1% 42%;
    top: -316.6px;
    left: -349.9px;
}


.picture9 {
    scale: 47% 42%;
    top: -315.5px;
    left: -215px;
}


.picture10 { 
    scale: 47% 42%;
    top: -315px;
    left: -215px;
}

.picture11 { 
    scale: 62.6% 42%;
    top: -318px;
    left: -114px;
}


.picture12 { 
    scale: 78% 45%;
    top: -282px;
    left: -55px;
}

.picture13 { 
    scale: 68.9% 62%;
    top: -134px;
    left: -86px;
}


.picture14 { 
    scale: 51% 45%;
    top: -270px;
    left: -182px;
}


.picture15 { 
    scale: 51% 45%;
    top: -270px;
    left: -183px;
}


.picture16 { 
    scale: 51% 45%;
    top: -270px;
    left: -182px;
}


.picture17 { 
    scale: 47% 42%;
    top: -318px;
    left: -215px;
}


.picture18 { 
    scale: 51% 46%;
    top: -276px;
    left: -180px;
}


.picture19 { 
    scale: 12% 11%;
    top: -1860px;
    left: -1370px;
}

.picture20 { 
    scale: 36% 59%;
    top: -170px;
    left: -330px;
}

.picture21 { 
    scale: 51% 47%;
    top: -280px;
    left: -180px;
}

.picture22 { 
    scale: 51% 45%;
    top: -270px;
    left: -181.5px;
}


.picture23 { 
    scale: 62% 39%;
    top: -300px;
    left: -115px;
}

.project_title {
    position: relative;
    top: -40px;
    scale: 100% 50%;
}

div.scroll-container {
    position: relative;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
    top: 100px;
  }

  
  div.scroll-container img {
    padding: 10px;
  }
